
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import url('https://fonts.googleapis.com/css?family=Bree+Serif');

@font-face {
    font-family : "Acre";
    font-weight : 100;

    src : url('~@/assets/fonts/eot/Acre-Thin.eot');
    src : url('~@/assets/fonts/woff2/Acre-Thin.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Thin.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Thin.ttf') format('truetype');
}

@font-face {
    font-family : "Acre";
    font-weight : 200;

    src : url('~@/assets/fonts/eot/Acre-Thin.eot');
    src : url('~@/assets/fonts/woff2/Acre-Thin.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Thin.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Thin.ttf') format('truetype');
}

@font-face {
    font-family : "Acre";
    font-weight : 300;

    src : url('~@/assets/fonts/eot/Acre-Light.eot');
    src : url('~@/assets/fonts/woff2/Acre-Light.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Light.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Light.ttf') format('truetype');
}

@font-face {
    font-family : "Acre";
    font-weight : 400;

    src : url('~@/assets/fonts/eot/Acre-Regular.eot');
    src : url('~@/assets/fonts/woff2/Acre-Regular.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Regular.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Regular.ttf') format('truetype');
}

@font-face {
    font-family : "Acre";
    font-weight : 500;

    src : url('~@/assets/fonts/eot/Acre-Medium.eot');
    src : url('~@/assets/fonts/woff2/Acre-Medium.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Medium.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Medium.ttf') format('truetype');
}

@font-face {
    font-family : "Acre";
    font-weight : 600;

    src : url('~@/assets/fonts/eot/Acre-Semibold.eot');
    src : url('~@/assets/fonts/woff2/Acre-Semibold.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Semibold.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Semibold.ttf') format('truetype');
}

@font-face {
    font-family : "Acre";
    font-weight : 700;

    src : url('~@/assets/fonts/eot/Acre-Bold.eot');
    src : url('~@/assets/fonts/woff2/Acre-Bold.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Bold.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Bold.ttf') format('truetype');
}

@font-face {
    font-family : "Acre";
    font-weight : 800;

    src : url('~@/assets/fonts/eot/Acre-Extrabold.eot');
    src : url('~@/assets/fonts/woff2/Acre-Extrabold.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Extrabold.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Extrabold.ttf') format('truetype');
}

@font-face {
    font-family : "Acre";
    font-weight : 900;

    src : url('~@/assets/fonts/eot/Acre-Black.eot');
    src : url('~@/assets/fonts/woff2/Acre-Black.woff2') format('woff2'),
          url('~@/assets/fonts/woff/Acre-Black.woff') format('woff'),
          url('~@/assets/fonts/ttf/Acre-Black.ttf') format('truetype');
}


